<%= form_for([@zombie, @zombie.weapons.build]) do |f| %>

  
<%  @weapon = f.object
    if @weapon.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2>
        <%= pluralize(@weapon.errors.count, "error") %> prohibited
        this weapon from being added:
      </h2>
      <ul>
        <% @weapon.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control', placeholder: 'e.g. Axe' %>
  </div>
  <div class="form-group">
    <%= f.label :damage %><br>
    <%= f.number_field :damage, class: 'form-control' %>
  </div>

  <p>
    <%= f.submit class: 'btn btn-default' %>
  </p>
<% end %>