<%= link_to 'Edit', edit_zombie_path(@zombie) %> | <%= link_to 'Back', zombies_path %>

<p>
  <h3><strong>Name: </string><%= @zombie.name %></h3>
</p>
 
<p>
  <strong>Graveyard:</strong>
  <%= @zombie.graveyard %>
</p>
<br>


<h3>Tweets</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>Post Time</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <%= render @zombie.tweets %>
  </tbody>
</table>


<%= render 'tweets/form' %>

<hr>
<h3>Weapons</h2>
<%= render @zombie.weapons %>


<h2>Add a weapon:</h2>
<%= render 'weapons/form' %>